@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap');

:root {
    --nubank-purple: #8A05BE;
    --nubank-light: #F4F4F4;
    --text-main: #333333;
    --text-muted: #555555;
    --white: #FFFFFF;
}

/* Estilos generales */
body {
    font-family: 'Inter', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: var(--nubank-light);
    color: var(--text-main);
}

/* Encabezado principal */
header {
    background-color: var(--nubank-purple);
    color: var(--white);
    padding: 40px 20px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

header h1 {
    margin: 0;
    font-size: 2.5rem;
    font-weight: 700;
}

header p {
    margin-top: 10px;
    font-size: 1.1rem;
    opacity: 0.9;
}

/* Contenedor principal */
.container {
    max-width: 900px;
    margin: 40px auto;
    padding: 0 20px;
}

/* Estilos de las secciones (Tarjetas) */
section {
    background-color: var(--white);
    border-radius: 12px;
    padding: 30px;
    margin-bottom: 30px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
    transition: transform 0.3s ease;
}

section:hover {
    transform: translateY(-5px);
}

section h2 {
    color: var(--nubank-purple);
    border-bottom: 2px solid #eee;
    padding-bottom: 10px;
    margin-top: 0;
    font-weight: 600;
}

/* Listas estilizadas */
ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    position: relative;
    padding-left: 25px;
    margin-bottom: 12px;
    color: var(--text-muted);
}

ul li::before {
    content: "--";
    position: absolute;
    left: 0;
    top: 0;
    font-size: 14px;
}


strong {
    color: var(--text-main);
}


footer {
    text-align: center;
    padding: 20px;
    color: var(--text-muted);
    font-size: 0.9rem;
    margin-top: 40px;
}